<time class="published" datetime="{{ item.post_date }}">{{ item.post_date }}</time>
<p class="byline author vcard">{{ item.msg.by }} <a href="{{ item.author.link }}" rel="author" class="fn">{{ item.author.name }}</a></p>
