<form role="search" method="get" class="search-form form-inline" action="{{ site.url }}">
  <label class="sr-only">{{ site.msg.search_for }}</label>
  <div class="input-group">
    <input type="search" value="{{ query }}" name="s" class="search-field form-control" placeholder="{{ msg.search }} {{ site.name }}">
    <span class="input-group-btn">
      <button type="submit" class="search-submit btn btn-default">{{ msg.search }}</button>
    </span>
  </div>
</form>
